In [1]:

import yaml
import json
with open("etl_config.yaml") as stream:
    try:
        etl_config = (yaml.safe_load(stream))
    except yaml.YAMLError as exc:
        print(exc)

In [2]:
constring_main = etl_config['source']['load']['type']['Database']['test']['url'] #.format(**db)
import pandas as pd
from sqlalchemy import create_engine


engine = create_engine(constring_main)
constring_main

'postgresql://dev:22051969@localhost:5432/test_db'

In [3]:
# -*- coding: utf-8 -*-
"""

SEC Filing Scraper
@author: AdamGetbags

"""

# import modules
import requests
import pandas as pd


headers = {'User-Agent': "email@address.com"}


temp_tickers = requests.get(
    etl_config['source']['extract']['url'],
    headers=headers
    )
df_raw_tickers = pd.DataFrame.from_dict(temp_tickers.json(),
                                     orient='index')

In [5]:

from datetime import datetime
df_raw_tickers['cik_str'] = df_raw_tickers['cik_str'].astype(
                           str).str.zfill(10)
df_raw_tickers['time_load'] = datetime.today()
# review data

In [29]:
df_raw_tickers.to_sql('raw_tickers', con=engine, if_exists='replace')

327

In [6]:
df_raw_tickers

          cik_str   ticker                    title                  time_load
0      0000789019     MSFT           MICROSOFT CORP 2024-05-16 22:13:01.523398
1      0000320193     AAPL               Apple Inc. 2024-05-16 22:13:01.523398
2      0001045810     NVDA              NVIDIA CORP 2024-05-16 22:13:01.523398
3      0001652044    GOOGL            Alphabet Inc. 2024-05-16 22:13:01.523398
4      0001018724     AMZN           AMAZON COM INC 2024-05-16 22:13:01.523398
...           ...      ...                      ...                        ...
10316  0001800392    VENAF           MicroAlgo Inc. 2024-05-16 22:13:01.523398
10317  0001308106  SEAL-PA              Seapeak LLC 2024-05-16 22:13:01.523398
10318  0001308106  SEAL-PB              Seapeak LLC 2024-05-16 22:13:01.523398
10319  0001726079     TMEF          Tipmefast, Inc. 2024-05-16 22:13:01.523398
10320  0001816613  MKFG-WT  Markforged Holding Corp 2024-05-16 22:13:01.523398

[10321 rows x 4 columns]

In [7]:
check_comps = df_raw_tickers.query("ticker in ['AMD','INTC','NVDA']")
check_comps

       cik_str ticker                       title                  time_load
2   0001045810   NVDA                 NVIDIA CORP 2024-05-16 22:13:01.523398
35  0000002488    AMD  ADVANCED MICRO DEVICES INC 2024-05-16 22:13:01.523398
93  0000050863   INTC                  INTEL CORP 2024-05-16 22:13:01.523398

In [8]:
cik = '0001045810'

# meta

In [9]:
# get company specific filing metadata
filingMetadata = requests.get(
    f'https://data.sec.gov/submissions/CIK{cik}.json',
    headers=headers
    )

# dictionary to dataframe
allForms = pd.DataFrame.from_dict(
             filingMetadata.json()['filings']['recent']
             )

# review columns
allForms.columns
# allForms[['accessionNumber', 'reportDate', 'form']].head(50)

# allForms.query("form in ['10-Q','10-K']")

Index(['accessionNumber', 'filingDate', 'reportDate', 'acceptanceDateTime',
       'act', 'form', 'fileNumber', 'filmNumber', 'items', 'size', 'isXBRL',
       'isInlineXBRL', 'primaryDocument', 'primaryDocDescription'],
      dtype='object')

In [11]:
meta_data = allForms
meta_data

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
0,0001045810-24-000108,2024-05-15,2024-03-31,2024-05-15T16:07:20.000Z,34,13F-HR,028-23915,24950525,,5332,0,0,xslForm13F_X02/primary_doc.xml,
1,0001045810-24-000106,2024-05-14,2024-01-28,2024-05-14T16:12:40.000Z,34,ARS,000-23985,24944481,,18404553,0,0,a2024annualreport.pdf,ARS
2,0001045810-24-000105,2024-05-14,,2024-05-14T16:11:08.000Z,34,DEFA14A,000-23985,24944445,,1448156,0,0,noticeof2024annualmeeting.htm,DEFA14A
3,0001045810-24-000104,2024-05-14,2024-06-26,2024-05-14T16:08:58.000Z,34,DEF 14A,000-23985,24944362,,73319135,1,1,nvda-20240514.htm,DEF 14A
4,0001045810-24-000094,2024-04-10,2024-04-08,2024-04-10T17:09:27.000Z,,4,,,,6713,0,0,xslF345X05/wk-form4_1712783358.xml,FORM 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0001045810-14-000192,2014-12-04,2014-12-02,2014-12-04T17:09:10.000Z,,4,,,,5875,0,0,xslF345X03/wf-form4_141773093973343.xml,FORM 4
996,0001045810-14-000190,2014-12-02,2014-11-28,2014-12-02T16:25:04.000Z,,4,,,,13116,0,0,xslF345X03/wf-form4_141755549396402.xml,FORM 4
997,0001225208-14-023994,2014-11-25,2014-11-24,2014-11-25T17:52:44.000Z,,4,,,,9139,0,0,xslF345X03/doc4.xml,
998,0001045810-14-000188,2014-11-19,2014-10-26,2014-11-18T19:09:07.000Z,34,10-Q,000-23985,141233223,,8944076,1,0,nvda2015q310q.htm,Q3'15 10-Q
999,0001045810-14-000184,2014-11-14,2014-11-12,2014-11-14T16:12:19.000Z,,4,,,,5877,0,0,xslF345X03/wf-form4_141599952928807.xml,FORM 4

In [38]:
companyFacts = requests.get(
    f'https://data.sec.gov/api/xbrl/companyfacts/CIK{cik}.json',
    headers=headers
    )

In [39]:
companyFacts